<div class="content">
    <p style="margin-bottom: 20px">A new positions matched your skills available:
    </p>
    <div class="application__card">
        <div class="application__card-header">
            <h2>{{category}}</h2>
            <span>{{company}}</span>
        </div>
        <div class="application__card-subheader">
            <p><span>Level:</span> {{level}}</p>
            <p><span>Japanese requirement:</span> {{japaneseRequired}}</p>
        </div>
        <div class="application__card-description">
            <p><span>Description:</span> {{description}}</p>
        </div>
    </div>
</div>
