extends container

block content
    p See new positions that match your application
    div(class='position')
        span Category: #{category}
            hr
            span Level: #{level}
            hr
            span Description: #{description}
            hr
            span Company: #{company}
            hr
            span Japanese requirement: #{japaneseRequired}
